@tailwind base;
@tailwind components;
@tailwind utilities;

.input{
    @apply p-1 m-2 mb-5 rounded block w-full border-2 border-blue-200 focus:border-blue-600 focus:outline-none;
}
body{
    @apply bg-blue-100 font-Verdana;
}